<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.assassin" versionCode="10" version="0.0.1">

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.3.0" />
    <!--
    <preference name="ErrorUrl" value="error.html" />
    <preference name="LoadingDialog" value="Please wait, the app is loading" />
    <preference name="LoadingPageDialog" value="Please wait, the data is loading" />
-->
    <preference name="splash-screen-duration" value="10000" />

    <name>Assassin</name>

    <description>
        A GPS-based game to play Assassin with your friends.
    </description>

    <author href="https://plus.google.com/+DavidCampbellsProfile" email="david.d.campbell@gmail.com">
        David Campbell
    </author>

    <gap:plugin name="org.apache.cordova.geolocation" />
    <!--<gap:plugin name="org.apache.cordova.network-information" />-->

    <gap:splash src="splash.png" gap:platform="android" gap:density="xhdpi" />
</widget>