<!DOCTYPE html>
<html lang="en" ng-app="assassinApp">
    <head>
        <title>Assassin</title>
        <script src="scripts/angular.min.js" ></script>
        <script src="scripts/jquery-1.10.2.min.js"></script>
        <script src="scripts/service.js" ></script>
        <script src="scripts/controllers.js" ></script>
        <script type="text/javascript" charset="utf-8">
            // wait for device api libraries to load
            document.addEventListener("deviceready", onDeviceReady, false);
            
            // device api's are available
            function onDeviceReady() {
                navigator.geolocation.getCurrentPosition(onSuccess, onError);
            }
            
            // onSuccess Geolocation
            function onSuccess(position) {
                if(typeof(Storage)!=="undefined") {
                    window.sessionStorage.latitude = position.coords.latitude;
                    window.sessionStorage.longitude = position.coords.longitude;
                }
                else
                {
                    console.log("Sorry, your browser does not support web storage...");
                }
                                
                var element = document.getElementById('geolocation');
                element.innerHTML = 
                    'Latitude: ' + position.coords.latitude + '<br />' +
                    'Longitude: ' + position.coords.longitude + '<br />' + 
                    'Altitude: ' + position.coords.altitude + '<br />' +
                    'Accuracy: ' + position.coords.accuracy + '<br />' +
                    'Altitude Accuracy: ' + position.coords.altitudeAccuracy + '<br />' +
                    'Heading: ' + position.coords.heading + '<br />' +
                    'Speed: ' + position.coords.speed + '<br />' +
                    'Timestamp: ' + position.timestamp + '<br />';
            }

            // onError Callback receives a PositionError object
            //
            function onError(error) {
                alert('code: '    + error.code    + '\n' +
                      'message: ' + error.message + '\n');
            }
            
            $(document).ready(function() {
                console.log("document ready");
                window.sessionStorage.clear();
                window.sessionStorage.longitude = 5;
                window.sessionStorage.latitude = 10;
                $('#storage').append(window.sessionStorage.latitude);
                $('#storage').append('<br>');
                $('#storage').append(window.sessionStorage.longitude);
                $("#btnCallService").click(function() {
                    console.log("btnCallService clicked");
                    event.preventDefault();
                    CallService();
                });
                $("#btnJoinGame").click(function() {
                    console.log("btnJoinGame clicked");
                    event.preventDefault();
                    var name = $('#name').val();
                    var email = $('#email').val();
                    JoinGame(name, email, sessionStorage.latitude, sessionStorage.longitude);
                });
                $("#btnFindNearby").click(function() {
                    console.log("btnFindNearby clicked");
                    event.preventDefault();
                    var email = $('#email').val();
                    FindNearby(email);
                });
                $("#btnUpdateLocation").click(function() {
                    console.log("btnUpdateLocation clicked");
                    event.preventDefault();
                    var email = $('#email').val();
                    var long = window.sessionStorage.latitude;
                    var lat = window.sessionStorage.longitude;
                    $('#storage').append("<BR>"+long + ", "+lat);
                    UpdateLocation(email, lat, long);
                });
            });
        </script>
    </head>
    
    <body ng-controller="LoginCtrl">   
        <h1>Assassin - Login</h1>
        <div ng-hide="loggedIn">
            <input ng-model="name" placeholder="Name">
            <input ng-model="email" placeholder="Email">
            <button ng-click="login(name, email)">Login</button>
        </div>
        <div ng-show="loggedIn">
            <p>Welcome back {{ name }}. You're logged in as {{ email }}.</p>
            <button ng-click="logOff()">Log Off</button>
        </div>
        
        <p>
            <a href='location.html'>Geolocation Demo</a>
        </p>
        
        <p id="geolocation">Finding geolocation...</p>
        <form action="/">
            <div>
                <input type="text" id="long" placeholder="long">
                <br>
                <input type="text" id="lat" placeholder="lat">
            </div>
            
            <input type="submit" value="Find Me!" onclick="onDeviceReady" >
            <input id="btnCallService" type="submit" value="Call Service" >
            <input id="btnJoinGame" type="submit" value="Join Game" >
            
            <input id="btnFindNearby" type="submit" value="Find Nearby" >
            
            <input id="btnUpdateLocation" type="submit" value="Update Location">
        </form>
        <div id="result">result area</div>
        <div id="storage">storage</div>
    </body>
<!--
    <script type="text/javascript" src="phonegap.js"></script>
-->
</html>